body {
    margin: 0;
}
.headerWeb {
    background-color: rgb(41, 57, 153);
    /* border-radius: 30px ; */
    padding: 1%;
    font-weight: bolder;
    font-size: 30px;
}
#find {
    text-align: right ;
    margin-top: -8px;
}
.headerWeb input {
    height: 30px;
    width: 250px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 4px;
    outline:none;
    padding: 12px 14px;

    transition:0.6s ease-in-out;
}.headerWeb input:focus {
    width:500px; 
}
.headerWeb table {
    width: 1450px;
}
.headerWeb button {
    float: left;
    margin-top: 0px;
    margin-right: 16px;
    background: none;
    border: none;
}
.headerWeb button:hover {
    cursor: pointer;
}
.headerWeb #icon {
    cursor: pointer;
}